<html>
<head>
    <title>Inventory Tracker</title>
    <meta charset="utf-8">
    <meta name="Author" content="http://pablogarciafernandez.com" />
    <meta name="description" content="Table Responsive" />
    <meta name="keywords" content="table, responsive" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="/static/table-responsive.css" media="screen" type="text/css" rel="stylesheet" />
</head>

<body>
<div class="topnav">
	<a href="/">Home</a>
	<!-- <a href="/trends">Historical Trends</a> -->
	<a class="active" href="/downloads">Download Data</a>
	<!-- <a href="#about">About</a> -->
	</div> 
	

<h1><span class="blue"></span>Inventory<span class="blue"></span> <span class="yellow">Tracker</pan></h1>
<!-- <h2>Created with love by <a href="http://pablogarciafernandez.com" target="_blank">Pablo García Fernández</a></h2> -->


<table class="container">
	<thead>
		<tr>
			<th><h1>JSON download</h1></th>
			<th><h1>CSV download</h1></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td font-size: 1em><h1><a href="/static/data.json">Link</a></h1></td>
			<td font-size: 1em><h1><a href="/static/data.csv">Link</a></h1></td>
		</tr>
	</tbody>
</table>

</body>
</html>
